body{
    background : url('./images/backgrounds/1.jpg') ;
    position: relative;
}
.text{
    color:#ffffff;
    width: 45%;
    
}
.main{
    width:45%;
}
span{
    position: absolute;
    display: block;
    animation: floatText 5s infinite alternate ease-in-out;
}